.reviews__slider {
  position: relative;

  .swiper-wrapper {
    @include medium-mobile {
      max-height: 100% !important;
      height: 100%;
    }
  }

  .reviews-slider-container {
    margin: 0 auto 42px;
    max-width: 1100px;
    height: 348px;
    padding: 16px;

    @include small-desktop-min {
      max-width: 1000px;
    }

    @include small-tablet {
      padding: 0;
      margin: 0 auto 25px;
    }

    @include medium-mobile {
      margin: 0 auto 9px;
      height: auto;
    }

    @include small-mobile {
      margin: 0 auto 9px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 32px;
    height: 32px;
    transition: 0.3s;
    padding-top: 0;
    margin: 0;
    cursor: pointer;
    transform: translateY(-50%);

    svg {
      transition: 0.3s;
      width: 32px;
      height: 32px;
      color: $primary;
    }

    &.swiper-button-disabled {
      color: $mid-grey;
    }
  }

  .swiper-button-next {
    //svg {
    //  transform: rotate(180deg);
    //}
  }

  .swiper-button-disabled {
    pointer-events: auto !important;
  }

  .swiper-button-prev::after {
    content: none !important;
  }

  .swiper-button-next::after {
    content: none !important;
  }

  .swiper-slide {
    transition: 0.3s;
    margin: 0;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    max-height: 316px;

    @include medium-mobile {
      max-height: initial;
    }


    @include hover {
      &:hover {
        transition: 0.3s;
        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

  .swiper-navigation {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    display: flex;

    @include small-desktop-min {
      display: none;
    }
  }
}

.swiper-pagination {
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%);
  display: flex;
  gap: 17px !important;
  align-items: center;
  bottom: 45px !important;
  top: auto !important;

  @include medium-mobile {
    bottom: 30px !important;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: $mid-grey;
    margin: 0 !important;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: $primary;
  }
}