<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="logo">
                <svg>
                    <use href="#logo"></use>
                </svg>
                <!--                <img src="./static/images/logo.svg" alt="logo">-->
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="#logic">Как это работает</a>
                    </li>
                    <li>
                        <a href="#third">3-й блок</a>
                    </li>
                    <li>
                        <a href="#faq">Вопросы и ответы</a>
                    </li>
                    <li>
                        <a href="#consult">Форма</a>
                    </li>
                </ul>
            </nav>

            <div class="burger-btn">
                <div class="burger-btn-wrap"></div>
                <a id="menu-toggle" class="menu-toggle">
                    <span class="menu-toggle-bar menu-toggle-bar--top"></span>
                    <span class="menu-toggle-bar menu-toggle-bar--bottom"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="header-mobile">
        <div class="header-mobile-wrapper">
            <div class="container">
                <div class="header-mobile-wrapper__inner">
                    <nav class="nav header-mobile-nav">
                        <ul class="header-mobile-nav__list">
                            <li>
                                <a href="#logic">
                                    <span>Как это работает</span>
                                    <div class="nav__image">
                                        <svg>
                                            <use href="#right-i"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#third">
                                    <span>3-й блок</span>
                                    <div class="nav__image">
                                        <svg>
                                            <use href="#right-i"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#faq">
                                    <span>Вопросы и ответы</span>
                                    <div class="nav__image">
                                        <svg>
                                            <use href="#right-i"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#consult">
                                    <span>Форма</span>
                                    <div class="nav__image">
                                        <svg>
                                            <use href="#right-i"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>



