<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="logo">
                <img src="./static/images/logo.svg" alt="logo">
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="#">Как это работает</a>
                    </li>
                    <li>
                        <a href="#">3-й блок</a>
                    </li>
                    <li>
                        <a href="#">Вопросы и ответы</a>
                    </li>
                    <li>
                        <a href="#">Форма</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>



