.consult {
  padding: 80px 0;
  @include small-tablet {
    padding: 57px 0;
  }

  h2 {
    margin-bottom: 44px;
    margin-left: -21px;

    @include small-tablet {
      margin-left: 0;
      margin-bottom: 30px;
    }

    @include small-mobile-min() {
      margin-left: -21px;
    }


  }

  .form-custom {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;

    @include medium-mobile {
      gap: 20px;
    }

    &__top {
      display: flex;
      gap: 32px;

      @include small-tablet {
        gap: 24px;
      }

      @include medium-mobile {
       flex-direction: column;
        gap: 20px;
      }

      .input-container {
        position: relative;
        width: 100%;
        img {
          position: absolute;
          width: 20px;
          height: 20px;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
          display: none;
        }
        .error-bottom {
          position: absolute;
          left: 0;
          bottom: -23px;
          font-weight: 400;
          font-size: 12px;
          line-height: 133%;
          color: $dangerous;
          display: none;

          @include small-mobile {
            bottom: -17px;
          }
        }
      }

      input {
        border: 2px solid $extralight-gray;
        border-radius: 4px;
        width: 100%;
        height: 64px;
        background: $extralight-gray;
        padding: 28px 16px 4px;
        font-weight: 400;
        font-size: 18px;
        line-height: 178%;
        color: $black;
      }

      label {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease;
        pointer-events: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 178%;
        color: $dark-gray;
      }

      input:focus, input.filled {
        background: transparent;
        border: 2px solid $mid-grey;
      }

      input:focus + label, input.filled + label {
        top: 8px;
        transform: initial;
        font-size: 14px;
        color: $gray;
        line-height: 171%;
        font-weight: 400;
      }
    }

    .form-custom__bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;

      @include small-tablet {
        gap: 24px;
      }
      @include medium-mobile {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }

    }
  }
}

.error-input, .error-input-val, .error-label {
  border-color: $dangerous !important;
}

.error-label {
  color: $dangerous;

  .custom-checkbox {
   border-color: $dangerous;
  }
}