.faq {
  &__inner {
    padding: 80px 0 60px;

    @include medium-tablet {
      padding: 56px 0 56px;
    }
  }

  h2 {
    margin-bottom: 41px;

    @include small-mobile-min {
      margin-bottom: 28px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    max-width: 1008px;
    margin: 0 auto;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black;
    padding: 24px 0;
    transition: 0.3s;
    gap: 28px;
    border-top: 1px solid $light-gray;

    @include small-mobile {
      align-items: flex-start;
      padding: 16px 0;
      gap: 20px;
    }
  }

  &__image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid $black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: 0.3s;

    @include small-mobile {
      margin-top: 5px;
    }

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &__answer {
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    position: relative;
    color: $dark-gray;
    max-width: 936px;

    @include small-tablet {
      font-size: 18px;
      line-height: 178%;
      max-width: 675px;
      margin-right: 52px;
    }

    @include small-mobile {
      margin-right: 44px;
    }
  }

  &__item {
    cursor: pointer;
    width: 100%;

    @include hover {
      &:hover {
        .faq__title {
          color: $primary;
        }

        .faq__image {
          border-color: $primary;

          svg {
            color: $primary;
            transition: 0.3s;
          }
        }
      }
    }
  }

  &__item.active {
    padding-bottom: 24px;
    transition: 0.3s;

    @include small-mobile {
      padding-bottom: 16px;
    }

    .faq__answer {
      transition: 0.3s;
    }

    svg {
      transform: rotate(45deg);
      transition: 0.3s;
    }
  }
}

