.information {
  background: $extralight-gray;

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 32px;
    padding: 67px 0;

    @include tablet-vert {
      grid-template-columns: repeat(1, 1fr);
      padding: 20px 0 32px;
      gap: 20px;
    }

    @include small-mobile {
      padding: 20px 0 21px;
    }
  }

  &__title {
    color: $black;
    margin-bottom: 17px;

    @include tablet-vert {
      margin-bottom: 46px;
    }
    @include small-mobile {
      margin-bottom: 14px;
    }
  }
  &__text {
    color: $black;
    @include small-mobile {
      text-align: left;
    }
  }
}