.popupThanks {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    height: 100%;
    overflow-y: scroll;
    background: rgba(0,0,0,0.5);

    &.open {
        visibility: visible;
        opacity: 1;
        transition: 0.3s;
    }
    .popup-body {
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 280px;
        width: 100%;
        transform: translate(-50%, -50%);
        background: #FFF;
        border-radius: 5px;
    }

    .popup-wrapper {
        position: relative;
        padding: 10px;
    }

    .modal {
    }

}
