.reviews {
  background: $extralight-gray;

  h2 {
    margin-bottom: 32px;
  }

  &__inner {
    padding: 57px 0 45px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: $white;
    border-radius: 8px;
    padding: 22px 22px 38px 22px;
    height: 100%;
    position: relative;

    //&:after {
    //  content: '';
    //  position: absolute;
    //  width: 100%;
    //  height: 100%;
    //  left: 0;
    //  top: 0;
    //}
  }

  &__slider {

  }

  &__top {

  }

  &__bottom {
    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      color: $black;
      @include text-shorten(7);
    }
  }

  &__info {
    display: flex;
    gap: 16px;

    &-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: $black;
      margin-bottom: 4px;
      max-width: 230px;
    }

    &-image {
      width: 44px;
      height: 44px;
      border-radius: 50%;
    }

    &-place {
      font-weight: 400;
      font-size: 12px;
      line-height: 133%;
      color: $dark-gray;
      max-width: 230px;
    }
  }
}