.header {
  position: absolute;
  z-index: 100;
  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 29px 0;
    align-items: center;

    nav {
      @include small-tablet {
        display: none;
      }
    }
  }
}

nav {
  ul {
    display: flex;
    gap: 26px;
  }

  li {

  }

  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $white;
    border-bottom: 1px solid transparent;
    @include hover {
      &:hover {
        border-bottom: 1px solid $white;
        transition: 0.3s;
      }
    }
  }
}

.header-mobile {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  visibility: hidden;
  transition: all .5s ease-in-out;
  transform: translate(-110%);

  &.active {
    visibility: visible;
    transition: all .5s ease-in-out;
    transform: translate(0);
  }

  .header-mobile-wrapper {
    max-width: 100%;
    background: $white;
    height: 100vh;
    margin-left: auto;
    padding-top: 80px;
  }

  .header-mobile-wrapper__inner {
    display: flex;
    flex-direction: column;
  }

  .header-mobile-nav {
    ul {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    .nav__image {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      padding: 16px 0;
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid $light-gray;
    }

    span {
      font-weight: 400;
      font-size: 18px;
      line-height: 178%;
      color: $gray;
    }

    svg {
      width: 24px;
      height: 24px;
      color: $gray;
    }
  }

}

.burger-btn {
  position: relative;
  width: 22px;
  height: 12px;
  transition: 0.5s;
  display: none;
  z-index: 100;

  @include small-tablet {
    display: block;
  }
}

.burger-btn-wrap {
  position: absolute;
  z-index: 200;
  width: 62px;
  height: 62px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-toggle {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  &, &:hover {
    color: $white;
  }
}

.menu-toggle-bar {
  display: block;
  position: absolute;
  //top: 50%;
  margin-top: -1px;
  //right: 0;
  width: 100%;
  height: 2px;
  background-color: $white;
  transition: all 0.3s ease;

  &.menu-toggle-bar--top {
    transform: translate(0, -0px);
    top: 1px;
  }

  &.menu-toggle-bar--bottom {
    transform: translate(0, 0px);
    bottom: 1px;
  }

  .nav-open & {

    &.menu-toggle-bar--top {
      transform: translate(0, 8px) rotate(45deg);
      top: 0;
      background-color: $black;
    }

    &.menu-toggle-bar--bottom {
      transform: translate(0, -8px) rotate(-45deg);
      bottom: 0;
      background-color: $black;
    }
  }
}

.nav-open {
  .burger-btn {
    width: 22px;
    height: 17px;
    transition: 0.5s;
  }
}